table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

th:hover {
  cursor: pointer
}

th, td {  
  width: 25%;
	padding: 8px;

}

.striped-table > tbody > tr:nth-child(even) {
  background-color: #eee;
}
